---
layout: default
---

{% include header.html %}
{% include hero.html %}
{% include expertise.html %}

<div class="content-wrapper">
  {% for section in site.sections %}
  <div id="{{section.section_id}}" class="columns content section">
    <div class="column">
      <h1 class="title is-1">{{section.title}}</h1>
      <p class="lead subtitle is-4">{{section.lead}}</p>
      <p class="details">{{section.details}}</p>
      {{section.content}}
    </div>
  </div>
  {% endfor %}
  <div class="columns content">
    <div class="column">
      <h2 class="subtitle is-2 xp has-text-centered">Projects & Experience</h2>
    </div>
  </div>
  {% for project in site.projects %}
  <div class="columns content project">
    <div class="column is-2">
      <img src="http://placehold.it/250x250/fcb45d?text=+" alt="image" class="project-icon" />
    </div>
    <div class="column">
      <h3 class="title is-3">{{project.title}}</h3>
      <p class="lead subtitle is-5">{{project.lead}}</p>
      <p class="details">{{project.details}}</p>
      {{project.content}}
    </div>
  </div>
  {% endfor %}
</div>


<div class="__footer">
</div>
